/* manrope-200 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    src: url('./fonts/manrope-v20-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/manrope-v20-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/manrope-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/manrope-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/manrope-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/manrope-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    src: url('./fonts/manrope-v20-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    background:  #0b0f1b;
    color: #fff;
    width: 100%;
}

.padding-wrapper {
    padding: 71px 220px 0 220px;
}

.header {
    width: 100%;
    height: 71px;
    padding: 20px 60px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
}

.header_left {
    display: flex;
    align-items: center;
    gap: 50px;
}


.header_logo-link {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 46px;
    color: #DA6CFF;
    text-decoration: none;
}

.header_nav {
    display: flex;
    align-items: center;
    gap: 45px;
    border: 1px solid #FFFFFF54;
    background-color: #FFFFFF0A;
    padding: 17px 79px 18px 48px;
    border-radius: 56px;
    box-sizing: border-box;
}

.header_list a {
    display: inline-block;
    line-height: 1;
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
    white-space: nowrap;
}

.header_list {
    display: flex;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header_list_item {
    margin-right: 0;
}

.group-1 {
    display: flex;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
    flex-wrap: nowrap
}

.header_phone {
    color: #ccc;
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
}

.header_divider {
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #ccc;
}

.header_help {
    color: #ccc;
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;

}

.header_button {
    width: 130px;
    height: 51px;
    border-radius: 44px;
    border: 1px solid #FFFFFF54;
    background: #FFFFFF0A;
    backdrop-filter: blur(17px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #ccc;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

.main {
    width: 100%;
}

.wrapper_up {
    padding: 0 0 0 50px;
}

.block-left {

}

h1 {
    font-weight: 400;
    font-style: Regular;
    font-size: 80px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;

}





