/* manrope-200 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    src: url('./fonts/manrope-v20-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/manrope-v20-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/manrope-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/manrope-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/manrope-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/manrope-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    src: url('./fonts/manrope-v20-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    background:  #0b0f1b;
    color: #fff;
    /*width: 100%;*/
    box-sizing: border-box;
}

.header-wrapper {
    padding: 71px 220px 0 220px;
    width: 100%;
}

.header {
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.header_left {
    display: flex;
    align-items: center;
    gap: 50px;
}


.header_logo-link {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 46px;
    color: #DA6CFF;
    text-decoration: none;
}

.header_nav {
    display: flex;
    align-items: center;
    gap: 45px;
    border: 1px solid #FFFFFF54;
    background-color: #FFFFFF0A;
    height: 51px;
    padding: 0 48px;
    border-radius: 56px;
    box-sizing: border-box;
}

.header_list a {
    display: inline-block;
    line-height: 1;
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
    white-space: nowrap;
}

.header_list {
    display: flex;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header_list_item {
    margin-right: 0;
}

.header_right {
    display: flex;
    align-items: center;
    /*gap: 12px;*/
    white-space: nowrap;
    flex-wrap: nowrap
}

.header_phone {
    color: #ccc;
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
}

.header_divider {
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    color: #ccc;
    margin: 0 35px;
}

.header_help {
    color: #ccc;
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
}

.header_button {
    width: 130px;
    height: 51px;
    border-radius: 44px;
    border: 1px solid #FFFFFF54;
    background: #FFFFFF0A;
    backdrop-filter: blur(17px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #ccc;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    margin-left: 47px;
}

.main {
    width: 100%;
}



.headline {
    font-weight: 400;
    font-size: 80px;
    line-height: 100%;
    letter-spacing: 0;
}

html{
    width: 100%;
}

::-webkit-scrollbar {
    width: 0;
}

.main-wrapper-up {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 58px 0 0 220px;
}

.main_left {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}

.headline h1 {
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    line-height: 100%;
    letter-spacing: 0;
    margin-top: 52px;
}

.main_description {
    display: flex;

}

.text-offer {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 190%;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 112px;
}

p, h1 {
    margin: 0;
}

.stat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FFFFFF54;
    background-color: #FFFFFF0A;
    border-radius: 32px;
    box-sizing: border-box;
    position: absolute;
    top: 486px;
    left: 820px;
    backdrop-filter: blur(26.200000762939453px)
}

.stat-box-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 42px 36px 0 51px;
    gap: 28px;

}

.stat-box-info {
     font-weight: 500;
     font-size: 44px;
     line-height: 100%;
     letter-spacing: 0;
 }

 .years-info {
     font-weight: 500;
     font-size: 16px;
     line-height: 100%;
     letter-spacing: 0;
     width: 162px;
     height: 44px;
 }

 .rectangle {
     display: flex;
     flex-direction: row;
     align-items: flex-end;
     gap: 14px;
     padding: 22px 47px 43px 56px;
 }

.rectangle-1 {
    width: 22px;
    height: 44px;
    border-radius: 56px;
    background: #C30EFF;
    border: 1px solid rgba(255, 255, 255, 0.65)
}

.rectangle-2 {
    width: 22px;
    height: 68px;
    border-radius: 56px;
    background: #471EFF;
    border: 1px solid #FFFFFFA6
}

.rectangle-3 {
    width: 22px;
    height: 55px;
    border-radius: 56px;
    background: #C30EFF;
    border: 1px solid #FFFFFFA6
}

.rectangle-4 {
    width: 22px;
    height: 79px;
    border-radius: 56px;
    background: #471EFF;
    border: 1px solid #FFFFFFA6
}

.rectangle-5 {
    width: 22px;
    height: 68px;
    border-radius: 56px;
    background: #C30EFF;
    border: 1px solid #FFFFFFA6
}

.rectangle-6 {
    width: 22px;
    height: 31px;
    border-radius: 56px;
    background: #471EFF;
    border: 1px solid #FFFFFFA6
}

.rectangle-7 {
    width: 22px;
    height: 55px;
    border-radius: 56px;
    background: #C30EFF;
    border: 1px solid #FFFFFFA6
}

.workflow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 91px;
    margin: 172px 0 0 0;
}

.workflow_description {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: capitalize;
}

.users-wrapper {
    display: flex;
    align-items: center;
    gap: 22px;
}

.users {
    position: relative;
    display: flex;
}

.users-1 {
    width: 59px;
    height: 59px;
    z-index: 100;
}

.users-2 {
    width: 59px;
    height: 59px;
    margin-left: -23px;
    z-index: 200;
}

.users-3 {
    width: 59px;
    height: 59px;
    margin-left: -23px;
    z-index: 300;
}

.number-of-users {
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0;
}

.user-active {
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0;
}

.additional_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 228px;
    position: absolute;
    width: 266px;
    height: 66px;
    top: 882px;
    left: 220px;
   gap: 212px;
}

.main-buttons {
    display: flex;
    gap: 19px;
    align-items: center;
}

.btn-blue, .btn-pink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    text-decoration: none;
    gap: 15px;
    color: rgba(255, 255, 255, 1);
    width: 222px;
    height: 52px;
    border-radius: 100px;
    padding: 10px;
}

.btn-blue {
    background: rgba(71, 30, 255, 1);
}

.btn-pink {
    background: rgba(195, 14, 255, 1);
}

.tech-number {
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: capitalize;
    width: 108px;
    height: 49px;
}

.tech-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    width: 108px;
    height: 27px;
}

.tagline {
    position: absolute;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: capitalize;
    z-index: 100;
    left: 960px;
    top: 9px;
    width: 266px;
}

.main_right img {
    display: block;
}

.main_image {
    position: relative;
}

.main-wrapper-down {
    display: flex;
    gap: 96px;
    padding-left: 220px;
    padding-top: 112px;
}

.experience {
    display: flex;
}

.experience-wrapper {
   margin: 24px 155px 40px 0;
}

.experience_number {
    font-weight: 500;
    font-size: 122px;
    line-height: 100%;
    letter-spacing: 0;
    width: 198px;
    height: 167px;
}

.experience_text {
    font-weight: 500;
    font-size: 33px;
    line-height: 100%;
    letter-spacing: 0;
    width: 198px;
    height: 90px;
}

.experience_img {
    border-radius: 27px;
}

.special-text {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin: 144px 222px 97px 0;
}

.special-text-1 {
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: right;
}

.special-text-wrap {
    display: flex;
    gap: 48px;
}

.special-text-2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0;
}

.special-text-3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0;
}

.ai-tools {
    padding: 135px 220px 101px 220px;
}

.ai-tools-title {
    margin-bottom: 101px;

}

.section-title {
    font-weight: 400;
    font-size: 76px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.ai-image {
    position: relative;
    display: block;
    width: 1480px;
    height: 776px;
    border-radius: 63px;
}

.banner-text {
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    width: 524px;
    height: 135px;
    top: 2161px;
    left: 331px;
}

.banner-subtext {
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    width: 390px;
    height: 59px;
    top: 2697px;
    left: 331px;
}

.banner-subtitle-left {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    width: 228px;
    height: 34px;
    top: 2161px;
    left: 1054px;
    opacity: 1;
    gap: 10px;
    border: 1px solid rgba(255, 255, 255, 0.17);
    border-radius: 13px;
    padding: 5px 9px 5px 9px;
    background: rgba(255, 255, 255, 0.17);
}

.banner-subtitle-right {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    width: 309px;
    height: 34px;
    top: 2161px;
    left: 1299px;
    gap: 10px;
    border: 1px solid rgba(255, 255, 255, 0.17);
    border-radius: 13px;
    padding: 5px 9px 5px 9px;
    background: rgba(255, 255, 255, 0.17);
}

.banner-number {
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    width: 111px;
    height: 49px;
    top: 2718px;
    left: 1254px;
}

.banner-tagline {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    width: 214px;
    height: 62px;
    top: 2722px;
    left: 1394px;
}





